
@media (min-width: 550px) {
  .container {
    width: 100%;
  }
}

.grid {
  margin: 0 auto;
}

.grid-cell {
  width: 300px;
  margin: 5;
}

.cell-image {
  width: 300px;
}

.post-link {
  text-decoration: none;
}

.cell-title {
  margin-top: 2px;
  background-color: #A6A6C3;
  padding: 8px;
}

.cell-title h1 {
  color: #F7F7F7;
  font-size: 28px;
  line-height: 1.1;
  margin-bottom: 5px;
}

.cell-title span {
  color: #7D7D7D;
  text-decoration: none;
  font-size: 20px;
}

.pagination {
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #7878A4;
  color: #F7F7F7;
}

.pagination a {
  color: #F7F7F7;
}
